#links{
	float:left;
	border: 1px solid lightgrey;
	background:lightgrey;
	width:168px;}
a{
	margin-left:10px;
	color:red;}
body{
	font-family: 'Roboto', sans-serif;
	background:#ACC9E1;}
#content{
	border: 1px solid white;
	margin-left:170px;
	background:white;
	}