body {
background: #FFFFCC;
}
#topleft {
background: #000099;
height: 120px;
width: 120px;
float: left;
padding: 10px;
}
#topright {
background: #000099;
height: 120px;
margin: 0 0 0 100px;
background-image: url(graphics/bkgd.gif);
padding: 10px;
}
h1 {
font-family: arial, helvetica, sans serif;
font-size: 14pt;
font-weight: bold;
color: #ffffff;
margin: 40px;
}
yellowtext {
color: #ffff00;
}
#topnav {
background: #CCCCCC;
width: 100%;
}
#navbar {
background: #99FFFF;
float: left;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
}
#navbar li {
display: inline;
}
#navbar li a {
background: #99FFFF;
float: left;
padding: 5px 20px;
font-family: arial, helvetica, sans serif;
color: #0000FF;
text-decoration: none;
}
#navbar li a:hover {
background: #ffff00;
color: #ff0000;
}
#clear {
clear: both;
}
#footer {
background: #000099;
margin: 0;
padding: 10px;
}
body {
margin: 40px 0;
text-align: center;
}
#maincontent {
margin: 0;
padding: 20px;
}
#pagewidth {
text-align: left;
width: 700px;
border-style: solid;
border-color: #000000;
border-width: 1px;
}