table{
	width:100%;
}
form{
	border: 1px solid pink;
	margin-left: auto;
    margin-right: auto;
	margin-top:-25px;
	margin-bottom:0px;
}
.right{
	text-align:right;
	width:45%;
}
.width{
	height:50px;
}
input{
	background:#E3BF91;
}
p{
	border: 1px solid pink;
	height:40px;
	width:200px;
	text-align:center;
	background:yellow;
	color:black;
}
.center{
	text-align:center;
}
body{
	line-height:4;
}